pandas
numpy==1.24.4
fastapi[all]
uvicorn
tortoise-orm
psycopg2-binary
openai
authlib
pydantic
pyjwt
python-dotenv
wikipedia
asyncpg
itsdangerous
redis
qdrant-client
sentence-transformers
httpx

# Dependencies for advanced retrieval
sqlalchemy
spacy
python-dateutil
scikit-learn
matplotlib
